a {
    color: #000;
}
a:hover {
    text-decoration: none !important;
}
.row-experimento {
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.row-experimento:hover {
    background: #eee;
    border: 1px solid #bbb;
}